@media(max-width:480px){
    .main .navbar{
        top:0;
        width:100%;
        height:15vh;
        background-size: cover;
        position: fixed;
    }

    .navbar a>li{
        font-size:40px;
    }

    .card{
        margin-top:240px;
    }

    .name>h1{
        width:400px;
        font-size:50px;
    }

    .name>.para-1{
        width:800px;border:1px solid red;
        font-size:20px;
        padding:20px;
        animation:typing 5s steps(40,end) infinite; 
    }
    
    .name>.para-2{
        width:600px;
        font-size:20px;
        padding:20px;
    }  

    .footer{
        background-size:cover;
        width:300%;
        left:0;
        
    }
}

/*@media(min-width:481) and (max-width:1023px){
    .main .navbar{
        top:0;
        width:100%;
        height:10vh;
        background-size: cover;
        position:fixed;
    }

    .navbar a>li{
        font-size:30px;
    }

    .card{
        overflow: hidden;
    }
}

@media(min-width:1024px){
    .main .navbar{
        top:0;
        width:100%;
        height:10vh;
        background-size: cover;
        position:fixed;
    }

    .navbar a>li{
        font-size:20px;
    }

    .card{
        overflow: hidden;
    }
}