*{
    margin: 0;
	padding: 0;   
	box-sizing: border-box;
}

body{
    background-color:#d87093;
}

h1{
    color:blue;
    font-size:50px;
    font-style:bold;
    text-align:center;
    margin-top:40px;
}

textarea{
    font-size:25px;
    background-color:#ffe4c4;
    margin-left:30px;
    margin-top:100px;
    padding:100px 220px;
    border-radius:10px 10px 10px 10px;
}

button{
    font-size:25px;
    margin-left:30px;
    padding:20px 60px;
    border-radius:10px 10px 10px 10px;
    background-color: #ffe4c4;
}

.start:hover,.stop:hover,.speak:hover{
    font-weight:bold;
    transform:scale(1.1);
    transition:to right all 0.5s linear;
}

.start:active{
    color:#90ee90;
    border-bottom:5px solid #90ee90;
}

.stop:active{
    color:#ff0000;
    border-bottom:5px solid #ff0000;
}

.speak:active{
    color:#ff69b4;
    border-bottom:5px solid #ff69b4;
}