*{
	margin: 0;
	padding: 0;   
	box-sizing: border-box;
}

body{
    background-color:#d87093;
}

h1{
    color:blue;
    font-size:50px;
    float:bold;
    text-align:center;
    margin-top:40px;
}

textarea{
    font-size:25px;
    background-color:#ffe4c4;
    margin-left:30px;
    margin-top:100px;
    padding:120px 220px;
    border-radius:10px 10px 10px 10px;
}

button{
    font-size:25px;
    margin-left:30px;
    padding:20px 20px;
    border-radius:10px 10px 10px 10px;
    background-color: #ffe4c4;
}

button:active{
    background-color:#90ee90;
}